.btn-style {
    margin: 22px;
}



.card-img-top {
    height: 250px;


}



.card-text{
    display: -webkit-box;           
    -webkit-box-orient: vertical;   
    -webkit-line-clamp: 3;         
    overflow: hidden;              
    text-overflow: ellipsis;        
}

